node_modules
*/node_modules
**/node_modules
**/package-lock.json
*/package-lock.json
**/dist
*/dist
lib
.env 
/.git
/node_modules
.dockerignore
.env
Dockerfile
fly.toml 
.vscode
websites-templates
dist
in.ts
manifest.json
.kiro