<body class="w-full bg-gradient-to-br from-[#0A0A0A] via-[#1A1A1A] to-[#0A0A0A]">
    <!-- Floating Navigation -->
    <nav class="max-w-[98vw] fixed top-8 left-1/2 transform -translate-x-1/2 backdrop-blur-lg bg-white/10 rounded-full px-8 py-4 z-50">
        <div class="flex items-center space-x-6 md:space-x-8 ">
            <a href="../index.html" class="text-white hover:text-orange-400 transition-colors">Home</a>
            <a href="docs/introduction.html" class="text-white hover:text-orange-400 transition-colors">Docs</a>
            <img src="/logo.png" alt="docmach" class="w-30" >
            <a href="https://github.com/CodeDynasty-dev/Docmach" class="text-white hover:text-orange-400 transition-colors">GitHub</a>
            <a href="blog.html" class="text-white hover:text-orange-400 transition-colors">Blog</a>
        </div>
    </nav>
      <!-- Documentation Content -->
        <div class="container mx-auto px-6 py-12 max-w-5xl mt-16">
            <div class="prose prose-invert max-w-none mx-auto">